<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo ao <%= subtitle %></p>
    <div class="container">
	    <h4><a href="/employees">Funcionários</a></h4>
	    <!--<h4><a href="/users">Usuários</a></h4>-->
	    <h4><a href="/products">Produtos</a></h4>
	</div>
  </body>
</html>
